UCIE_top_env/sim/modelsim.ini
UCIE_top_env/sim/transcript
UCIE_top_env/sim/vsim.wlf
UCIE_top_env/sim/work/_info
UCIE_top_env/sim/work/_lib.qdb
UCIE_top_env/sim/work/_lib1_0.qdb
UCIE_top_env/sim/work/_lib1_0.qpg
UCIE_top_env/sim/work/_lib1_0.qtl
UCIE_top_env/sim/work/_vmake
UCIE_top_env/sim/work/opt_ucie_tb_top/_data/exempteb5mac
UCIE_top_env/sim/work/opt_ucie_tb_top/_data/exemptvacxcf
UCIE_top_env/sim/work/opt_ucie_tb_top/_data/exemptvn7x86
UCIE_top_env/sim/work/opt_ucie_tb_top/_dpi/dpi.tfdb
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib.qdb
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib1_0.qdb
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib1_0.qpg
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib1_0.qtl
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib2_0.qdb
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib2_0.qpg
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib2_0.qtl
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib3_0.qdb
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib3_0.qpg
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib3_0.qtl
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib4_0.qdb
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib4_0.qpg
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib4_0.qtl
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib5_0.qdb
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib5_0.qpg
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib5_0.qtl
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib6_0.qdb
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib6_0.qpg
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib6_0.qtl
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib7_0.qdb
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib7_0.qpg
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib7_0.qtl
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib8_0.qdb
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib8_0.qpg
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib8_0.qtl
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib9_0.qdb
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib9_0.qpg
UCIE_top_env/sim/work/opt_ucie_tb_top/_lib9_0.qtl
tr_db.log
work/
tmp/
UCIE_top_env/sim/vsim_stacktrace.vstf
UCIE_top_env/sim/modelsim.ini_new
UCIE_top_env/sim/wlftxvt53m
UCIE_top_env/sim/wlftynqa79
UCIE_top_env/sim/wlft3acs4h
UCIE_top_env/sim/wlft175i9s
UCIE_top_env/sim/wlft185i97
UCIE_top_env/sim/wlft49e0fa
UCIE_top_env/sim/wlftbhx0iw
UCIE_top_env/sim/wlftgktjgx
UCIE_top_env/sim/wlfti0y1y8
UCIE_top_env/sim/wlfti9fz1r
UCIE_top_env/sim/wlftr2ck5z
UCIE_top_env/sim/wlftzb21a1
UCIE_top_env/sim/wlftvazck5
git_changes_report.txt
run_*
out/
certe_dump.xml
*.txt
